body {
    margin: 0;
    font-family: 'Roboto';
    background-color: paleturquoise;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.links a:hover {
    transition: 1s;
    font-size: 18px;
}

.header-footer {
    height: 25px;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 7px;
}

main {
    /* TODO: update this later if necessary once page is complete*/
    min-height: calc(90vh - 50px);
}

.bio {
    height: 100px;
    background-color: palegreen;
    display: flex;
    font-size: 40px;
}