body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #111;
    color: #fff;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-footer {
    height: 35px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
}

.fullscreen {
    height: 100vh;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

.links a:hover {
    font-size: 15px;
}

.fullscreen-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.bio {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #7d7d7d;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    min-height: 93vh;
    justify-content: center;

    .placeholder {
        width: 100%;
        max-width: 450px;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        margin: 0 auto;
    }

    .bio-content {
        flex: 1 1 400px;
        text-align: center;
        padding: 20px;
    }

    .bio-content h4 {
        font-size: 32px;
        margin: 0;
    }

    .bio-content h1 {
        font-size: 48px;
        margin: 0;
    }

    .bio-content p {
        font-size: 20px;
        margin-top: 5px;
        line-height: 1.4;

    }

}

.contact {
    font-size: 20px;
    color: #fff;
    padding: 20px;

    .contact-link {
        text-decoration: none;
        color: #fff;
        font-size: 20px;

    }

}