body {
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
    background-color: #111;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    gap: 20px;
    color: #FFFFFF;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

.links a:hover {
    transition: 1s;
    font-size: 15px;
}

.header-footer {
    height: 25px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 7px;
    color: #ffffff;
}

main {
    /* TODO: update this later if necessary once page is complete*/
    min-height: calc(100vh - 73px);
}

.bio {
    height: 400px;
    display: flex;
    font-size: 40px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #111;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.placeholder,
.bio-content {
    position: relative;
    z-index: 3;
}

.bio-content {
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 20;
}

.bio-content p {
    font-size: 14px;
    text-align: right;
}

.placeholder {
    width: 400px;
    height: auto;
    padding: 7px;
    margin-left: 100px;
    border-radius: 8px;
}