body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #111;
    color: #fff;
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-footer {
    height: 35px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 14px;
}

.fullscreen {
    height: 100vh;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}

.links a:hover {
    font-size: 15px;
}

.fullscreen-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.bio {
    display: flex;
    align-items: center;
    width: 95%;
    background-color: #7d7d7d;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    min-height: 93vh;
    justify-content: center;

    .placeholder {
        width: 100%;
        max-width: 450px;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        margin: 0 auto;
    }

    .bio-content {
        flex: 1 1 400px;
        text-align: center;
        padding: 20px;
    }

    .bio-content h4 {
        font-size: 32px;
        margin: 0;
    }

    .bio-content p {
        font-size: 20px;
        margin-top: 5px;
        line-height: 1.4;

    }

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    gap: 20px
}

.box {
    width: 23vw;
    height: auto;
    min-width: 250px;
    background-color: #333;
    border-radius: 8px;
    transition: 0.7s ease;
    gap: 20px;

}

.box:hover {
    transform: scale(1.03);
    background-color: #7d7d7d;
    transform-origin: top left;
}

.box a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box-image {
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.box-text {
    padding: 30px;
    text-align: left;
}

.box-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    border-left: 3px solid #7d7d7d;
    padding-left: 10px;
}

.box-text p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    padding-left: 13px;
}